body {
    font-family: cursive;
    color: rgb(157, 236, 78);
    background-color: black;
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    
}
header{
    padding: 10px;

}
footer{
    padding: 10px;
    text-align: center;
    font-weight: lighter;
    font-size: x-small;
    
}